<h1>Senior Checklist</h1>


    <% @lists.each do |list| %>

    <h3 id="H3_1"><%= list.month %></h3>

      <% list.items.each do |item| %>
        <div class="row">
          <div class="col-md-8">
        <input type="checkbox"><%= item.name %>
            </div>
            </div>


    <% end %>
<% end %>




