<<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Welcome to Blake Guidance, <%= @user.name %></h1>
<p>
  You have successfully signed up to receive our newsletter,
  your username is: <%= @user.name %>.<br>
</p>

<p>Thanks for joining and have a great day!</p>
</body>
</html>
