<h1 class="text-center">Meet the Counselors</h1>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Bio</th>
    <th>Contact</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @counselors.each do |counselor| %>
      <tr>
        <td><%= counselor.name %></td>
        <td><%= counselor.bio %></td>
        <td><%= counselor.contact %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>
