

<h1 class="text-center">Meet the Counselors</h1>

            <br>
<% @counselors.each do |counselor| %>
      <div class="row">
        <div class="col-md-4">
        <%= counselor.name %>

        </div>

    <div class="col-md-4">
    <%= counselor.bio %>

    </div>
    <div class="col-md-4">
    <%= counselor.contact %>

    </div>
      </div>
      <br>
   <% end %>



