

<h1 class="text-center">Meet the Counselors</h1>


<% @counselors.each do |counselor| %>
      <div class="row">

        <%= counselor.name %>
      </div>
      <br>
      <div class="row">
      <%= counselor.bio %>
      </div>
      <br>
      <div class="row">
      <%= counselor.contact %>
      </div>
      <br>
   <% end %>



