

<div class="jumbotron">
  <div class="container">
    <div class="text-center">
    <div><h2>Howard W. Blake High School</h2></div>
    <div><h2>1701 North Blvd, Tampa, FL 33607</h2></div>
      <div><h2>Phone: (813) 272-3422 </h2></div>

  </div>
    <div class="text-right"><img src="http://blake.mysdhc.org/siteimages/lt_bnr.gif"></div>
  </div>
 </div>

<div class="col-md-4">
  <h2>View Upcoming Events!</h2>
  <p>View of all of our upcoming events.  We've updated our site to show Financial Events, field trip information, and much more. </p>
  <p><a class="btn btn-default" href="#" role="button">Events »</a></p>
</div>


<div class="col-md-4">
  <h2>Review Graduation Requirements</h2>
  <p>Graduation Requirements are posted online to view. Please ensure that you are viewing the correct year that you entered school. For more information please review the description.</p>
  <p><a class="btn btn-default" href="#" role="button">Browse »</a></p>
</div>


<div class="col-md-4">
  <h2>View Testing Locations</h2>
  <p> You can now locate test information including dates, locations, test codes, and high school ECCB codes. Follow the link for more information</p>
  <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
</div>

