// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#events .calendar {
  border-collapse: collapse;
  width: 100%;

  td, th {
    font-family: "Lucida Grande", arial, helvetica, sans-serif;
    font-size: 12px;
    padding: 6px;
    border: 1.5px solid #999;
  }

  th {
    background: #DDD;
    color: #666;
    text-align: center;
    width: 14.2857142857143%;
  }

  td {
    background: #FFF;
    color: #777;
    height: 80px;
    vertical-align: top;
    font-size: 16px;
  }

  .notmonth, .notmonth a { color: #CCC; }
  .today { background-color: #D7F2FF; }
}

#events #month {
  margin: 0;
  color: rgb(48, 133, 48);
  font: normal normal bold normal 24px/normal Tahoma;
  padding-bottom: 10px;
  text-align: center;
  font-size: 22px;
  a {
    text-decoration: none;
    padding: 0 10px;
    color: #999;
  }
}

#events ul {
  font-size: 13px;
  padding-left: 20px;
  font-weight: bold;


}

#H1_1 {
  color: rgb(215, 145, 22);
  height: 32px;
  width: 980px;
  perspective-origin: 490px 16px;
  transform-origin: 490px 16px;
  border: 0px none rgb(215, 145, 22);
  font: normal normal bold normal 24px/normal 'Open Sans', 'Segoe UI', 'Lucida Grande', Verdana, sans-serif;
  margin: 15.7798404693604px 0px;
  outline: rgb(215, 145, 22) none 0px;
}/*#H1_1*/

#H2_1 {
  border-collapse: collapse;
  color: rgb(48, 133, 48);
  height: 29px;
  text-align: center;
  white-space: nowrap;
  width: 186.640625px;
  perspective-origin: 93.3125px 14.5px;
  transform-origin: 93.3125px 14.5px;
  border: 0px none rgb(48, 133, 48);
  font: normal normal bold normal 24px/normal Tahoma;
  margin: 0px 0px 19.5481605529785px;
  outline: rgb(48, 133, 48) none 0px;
}/*#H2_1*/