// Place all the styles related to the tests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#TH_1 {
  border-collapse: collapse;
  background-color: #C0C0C0;
  height: 39px;
  text-align: left;
  vertical-align: top;
  width: 300px;
  perspective-origin: 40.5px 45px;
  transform-origin: 40.5px 45px;
  border: 1px solid rgb(194, 179, 154);
  font: normal normal bold normal 17px/17px Arial, Helvetica, sans-serif;
  outline: rgb(94, 69, 23) none 0px;
  padding: 10px;
}/*#TH_1*/

